{% load static %}
   <footer class="footer">
        <div class="container footer__container">
            <div class="footer__details">
                <div class="footer__contact">
                    <img src="{% static 'main-page/img/istok2.svg' %}" alt="ISTOK">
                    <p>8 (800) 222 00-62</p>
                </div>
                <div class="footer-links">
                    <div class="footer__nav-bold">Наши соцсети</div>
                    <div class="social-media">
                        <a href="#"><img src="{% static 'main-page/img/linkedin.svg' %}" alt="Linkedin"></a>
                        <a href="#"><img src="{% static 'main-page/img/facebook.svg' %}" alt="Facebook"></a>
                        <a href="#"><img src="{% static 'main-page/img/instagram.svg' %}" alt="Instagram"></a>
                        <a href="#"><img src="{% static 'main-page/img/skype.svg' %}" alt="Skype"></a>
                        <a href="#"><img src="{% static 'main-page/img/twitter.svg' %}" alt="Twitter"></a>
                        <a href="#"><img src="{% static 'main-page/img/pinterest.svg' %}" alt="Pinterest"></a>
                    </div>
                </div>
                <div class="footer-nav">
                    <div>
                        <a href="{% url 'main_page_index' %}"><div class="footer__nav-bold">Главная</div></a>
                        <ul class="list-reset">
                            <li><a href="{% url 'prod-catalog' %}">Каталог</a></li>
                            <li><a href="{% url 'where-we-are' %}">Контакты</a></li>
                            <li><a href="#promo">Акции</a></li>
                            <li><a href="#">Наши работы</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Гарантия</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__nav">
                    <a href="#catalog"><div class="footer__nav-bold">Категории</div></a>
                    <ul class="list-reset">
                        <li><a href="#">Кухни</a></li>
                        <li><a href="#">Гардеробные</a></li>
                        <li><a href="#">Стеллажи</a></li>
                        <li><a href="#">Ванные комнаты</a></li>
                        <li><a href="#">Комоды</a></li>
                        <li><a href="#">Мебель в детскую</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__line"></div>
            <div class="footer_bottom-text">ООО "<span class="footer__nav-semibold">ИСТОК-МЕБЕЛЬ</span>" 2024. Политика конфиденциальности</div>
        </div>
    </footer>