{% load static %}
<header class="header">
        <div class="container header__container">
            <a  href="{% url 'main_page_index' %}">
                <img src="{% static 'main-page/img/istok.svg' %}" alt="ISTOK logo">
            </a>
            <nav class="header__details">
                <ul class="list-reset header__list">
                    <li class="header__item">
                        <a href="{% url 'prod-catalog' %}" class="header__link">Каталог</a>
                    </li>
                    <li class="header__item">
                        <a href="#promo" class="header__link">Акции</a>
                    </li>
                    <li class="header__item">
                        <a href="#calculator" class="header__link">Покупателям</a>
                    </li>
                    <li class="header__item">
                        <a href="{% url 'where-we-are' %}" class="header__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__icons">
                <a href="{% url 'current_orders' %}" ><img src="{% static 'main-page/img/user-icon.svg' %}" alt="User Icon"></a>
                <a href="#"><img src="{% static 'main-page/img/chat-icon.svg' %}" alt="Chat Icon"></a>
            </div>
            {% if request.user.is_authenticated %}
                <div class="header__buttons">
                    <a href="{% url 'book-appointment' %}" class="header__button">Заказать проект</a>
                </div>
            {% else %}
                <div class="header__buttons">
                    <a href="{% url 'login' %}" class="header__button">Заказать проект</a>
                </div>
            {% endif %}
        </div>
    </header>