{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}ISTOK{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main-page/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock css %}

{% block content %}
<main>
    <section class="hero">
        <div class="container hero__container">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="filter:brightness(0.65)">
                        <img src="{% static 'main-page/img/herohero1.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" style="filter:brightness(1)">
                        <img src="{% static 'main-page/img/herohero2.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" style="filter:brightness(1)">
                        <img src="{% static 'main-page/img/herohero3.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" style="filter:brightness(1)">
                        <img src="{% static 'main-page/img/herohero4.png' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{% trans "Previous" %}</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{% trans "Next" %}</span>
            </button>
            <h1>{% trans "Почувствуйте" %} <span class="hero_text_span">{% trans "уют" %}</span> {% trans "с нашими новыми" %}<br/> {% trans "кухнями" %}</h1>
             <div style="position: absolute; left: 72.3%; top: 9.8%; display: flex; align-items: center;">
                <div style="background: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 15px; display: flex; align-items: center; border: 2px solid #A9B489;">
                    <img src="{% static 'main-page/img/gekkon.svg' %}" alt="gekkon" style="margin-right: 10px; width: 85px; height: auto;">
                    <div style="color: black; font-weight: bold; font-weight: 1000; text-align: left; line-height: 0.5; font-size: 15px;">
                        <p style="color: black; font-weight: bold; font-weight: 1000;font-size: 20px;">{% trans "стикерпак " %}</p>
                        <p style="color: black; font-weight: bold; font-weight: 1000; font-size: 20px;">{% trans " в подарок" %}</p>
                        <p style="color: #5E7153; margin-top: 18px; font-size: 20px; line-height: 1.0;">подробнее...</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="catalog">
        <div class="container">
            <h2>{% trans "Каталог" %}</h2>
            <div class="catalog__items">
                <div class="catalog__left-block">
                    <a href="#"><img src="{% static 'main-page/img/works.jpg' %}" alt="{% trans "Наши работы" %}"></a>
                    <p class="catalog__item-11">{% trans "Наши работы" %}</p>
                    <a href="{% url 'prod-catalog' %}"><img src="{% static 'main-page/img/kitchens.jpg' %}" alt="{% trans "Кухни" %}"></a>
                    <p class="catalog__item-22">{% trans "Кухни" %}</p>
                </div>
                <div class="catalog__right-block-1">
                    <a href="#"><img src="{% static 'main-page/img/wardrobes.jpg' %}" alt="{% trans "Гардеробы" %}"></a>
                    <p class="catalog__item-33">{% trans "Гардеробы" %}</p>
                </div>
                <div class="catalog__right-block-2">
                    <a href="#"><img src="{% static 'main-page/img/accessories.jpg' %}" alt="{% trans "Аксессуары" %}"></a>
                    <p class="catalog__item-33">{% trans "Аксессуары" %}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="promo" class="promo">
        <div class="container promo__container">
            <h2>{% trans "Акция месяца" %}</h2>
            <img class="promo_img" src="{% static 'main-page/img/promo.png' %}" width="1280" alt="{% trans "Акция месяца" %}">
            <div class="promo_text-block">
                <h3>{% trans "Духовка в подарок при покупке кухни" %}</h3>
                <div class="promo_text-blocks">
                    <div style="font-family: var(--font-family-montserrat-regular)">{% trans "Давно хотели купить духовку или другую технику, но никак не решались?" %}</div>
                    <div style="font-family: var(--font-family-montserrat-regular)">{% trans "Так вот если вы приобретаете кухню, в подарок получаете технику на выбор из категории 'подарок'" %}</div>
                    <div style="font-family: var(--font-family-montserrat-regular)">{% trans "Заинтересовало предложение?" %}</div>
                </div>
                <button class="about__button promo__button">{% trans "Подробнее" %}</button>
            </div>
            <div class="promo__details">
                <div class="promo__item">
                    <a href="#">
                        <img src="{% static 'main-page/img/promo-1.png' %}" alt="{% trans "Акция месяца" %}">
                    </a>
                    <p style="font-family: var(--font-family-montserrat-medium)">{% trans "Скидки на мебель для спальни" %}</p>
                </div>
                <div class="promo__item">
                    <a href="#">
                        <img src="{% static 'main-page/img/promo-2.png' %}" alt="{% trans "Акция месяца" %}">
                    </a>
                    <p style="font-family: var(--font-family-montserrat-medium)">{% trans "Скидки на кухню" %}</p>
                </div>
                <div class="promo__item">
                    <a href="#">
                        <img src="{% static 'main-page/img/promo-3.jpg' %}" alt="{% trans "Акция месяца" %}">
                    </a>
                    <p style="font-family: var(--font-family-montserrat-medium)">{% trans "Скидки на аксессуары" %}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="calculator" class="calculator">
        <div class="container calculator__container">
            <img src="{% static 'main-page/img/calculator.png' %}" alt="{% trans "Рассчитать стоимость" %}">
            <button class="calculator__button" style="font-family: var(--font-family-montserrat-medium)">{% trans "Рассчитать стоимость кухни" %}</button>
        </div>
    </section>

    <section id="about" class="about">
        <div class="container about__container">
            <h2>{% trans "О нас" %}</h2>
            <div class="about__details">
                <p style="font-family: var(--font-family-montserrat-medium); width: 660px">{% trans "Компания ISTOK — это стартап опытной команды профессионалов. Мы, работая в мебельной индустрии, ощутили разницу в отношении к клиентам и сотрудникам. Объединив свои знания и опыт, мы создали ISTOK — бренд, который понимает, что нужно людям и его сотрудникам." %}</p>
                <img src="{% static 'main-page/img/about.jpg' %}" width="500" alt="{% trans "О нас" %}">
                <a href="{% url 'about-us' %}" class="about__button" style="text-decoration: none">{% trans "Наша команда" %}</a>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock js %}
