<!doctype html>
<html lang="en" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISTOK</title>
    <link rel="stylesheet" href="./css/main.css">
</head>


<body class="body_order">
<div class="order_container">
    <section class="contact-info">
        <h2>Контакты</h2>
        <p>Юридический адрес<br>
            190121, город Санкт-Петербург,<br>
            Английский пр-кт, д. 40 литера А, кв. 28</p>
        <p><strong>Телефон:</strong> 8 (800) 222-00-62<br>
            <strong>E-mail:</strong> <a href="mailto:info@istok-mebel.ru">info@istok-mebel.ru</a><br>
            <strong>Режим работы:</strong> ПН—ПТ: с 9:00 до 20:00</p>


        <form action="#" class="order_form">
            <p>Введите ваше имя и телефон,
                <br>
                cпециалист компании свяжется с вами, чтобы ответить на ваши вопросы.</p>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <button type="submit">Отправить</button>
        </form>
    </section>

    <section class="map">
        <div class="map-placeholder">
            <img src="./img/map-placeholder.png" alt="Map">
        </div>
    </section>
</div>
</body>



</html>