{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Войти в личный кабинет - ISTOK{% endblock %}

{% block content %}
<section class="login">
    <div class="container login_container">
        <img src="{% static 'main-page/img/istok.svg' %}" alt="ISTOK logo">
        <div class="login_box">
            <div class="login_header_text">
                Войти в личный кабинет
            </div>
            <div class="login_text">
                Мы отправили код на Ваш номер телефона
            </div>
            <form method="post" action="{% url 'enter_password' %}">
                <div class="login__field">
                    {% csrf_token %}
    {#                <div class="pin-code">#}
    {#                    <input type="number" maxlength="1" autofocus>#}
    {#                    <input type="number" maxlength="1">#}
    {#                    <input type="number" maxlength="1">#}
    {#                    <input type="number" maxlength="1">#}
    {#                </div>#}
                    {{ form.as_p }}
                </div>
                <div class="login__buttons">
                    <button type="submit" class="code__button sign_up">Войти</button>
                        Нажимая Войти, вы автоматически соглашаетесь с политикой конфиденциальности сайта
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
