<!-- accounts/templates/registration/update_first_name.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Login to ISTOK" %}{% endblock title %}

{% block content %}
    <section class="login">
        <div class="container login_container">
            <img src="{% static 'main-page/img/istok.svg' %}" alt="ISTOK logo">
            <div class="login_box">
                <div class="login_header_text">
                    Как вас зовут?
                </div>
                <form class="login__field" method="post" action="{% url 'account_firstname_update' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="login__buttons">
                        <button type="submit" class="code__button sign_up">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
