{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Календарь встреч' %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'flatpickr/flatpickr.min.css' %}">
    <style>
        .time-slots-container {
            margin-top: 20px;
        }
        .time-slot {
            display: block;
            margin-bottom: 10px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            cursor: pointer;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="page__body">
        <main class="body_calendar">
            <div class="container calendar_container">
                <section class="appointment">
                    <h2>Онлайн-запись</h2>
                    <h3>Выбор специалиста:</h3>
                    <input type="text" id="search-specialist" name="search-specialist" placeholder="Поиск по ФИО">
                    <div class="specialists">
                        <button class="category-button specialist-type" data-type="Designers">Дизайнер</button>
                        <button class="category-button specialist-type" data-type="Measurers">Замерщик</button>
                        <button class="category-button specialist-type" data-type="Consultants">Консультант</button>
                    </div>
                </section>
                <section class="calendar">
                    <div class="calendar-header">
                        <h2 id="month-year"></h2>
                    </div>
                    <div class="calendar-container">
                        <input type="text" id="calendar" name="calendar" class="calendar-input">
                    </div>
                </section>

                <div class="time-selection">
                    <div class="time-slots-container">
                        <h3>Доступное время:</h3>
                        <div id="time-slots">
                            <!-- Здесь будут отображаться временные слоты -->
                        </div>
                    </div>
                    <button class="category-button" id="book-appointment">Записаться</button>
                </div>
            </div>
        </main>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'flatpickr/flatpickr.js' %}"></script>
    <script src="{% static 'flatpickr/l10n/ru.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Локализация глобально для всех инстансов
            flatpickr.localize(flatpickr.l10ns.ru);

            // Инициализация Flatpickr
            flatpickr("#calendar", {
                locale: "ru",
                defaultDate: "today",
                dateFormat: "Y-m-d",
                inline: true,
                onChange: function(selectedDates, dateStr, instance) {
                    fetchAvailableTimeSlots(dateStr);
                }
            });
        });

        // Функция для загрузки доступных временных слотов
        function fetchAvailableTimeSlots(dateStr) {
            const url = `/api/available-time-slots/?date=${dateStr}`;
            axios.get(url)
                .then(response => {
                    const timeSlots = response.data.time_slots;
                    const timeSlotsHTML = timeSlots.map(slot => `<button class="time-slot">${slot}</button>`).join('');
                    document.getElementById('time-slots').innerHTML = timeSlotsHTML;
                })
                .catch(error => {
                    console.error('Error fetching time slots:', error);
                });
        }

        // Обработчик клика по кнопкам категорий специалистов
        const specialistTypeButtons = document.querySelectorAll('.specialist-type');
        specialistTypeButtons.forEach(button => {
            button.addEventListener('click', function() {
                const specialistType = this.getAttribute('data-type');
                fetchSpecialists(specialistType);
            });
        });

        // Функция для загрузки специалистов по категории
        function fetchSpecialists(specialistType) {
            const url = `/api/specialists/?type=${specialistType}`;
            axios.get(url)
                .then(response => {
                    // Обновление списка специалистов
                })
                .catch(error => {
                    console.error('Error fetching specialists:', error);
                });
        }

        // Обработчик клика по кнопке "Записаться"
        const bookAppointmentButton = document.getElementById('book-appointment');
        bookAppointmentButton.addEventListener('click', function() {
            // Логика для записи на встречу
        });
    </script>
{% endblock js %}
