footer a {
    text-decoration: none;
    color: inherit;
}
.footer {
    line-height: 1.5;
    background-color: #A9B489;
}

.footer__container {
    padding-top: 40px;
}

.footer__details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.social-media {
    display: flex;
    gap: 20px;
}

.footer__line {
    border: 1px solid #000000;
}

.footer_bottom-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__nav-bold {
    font-family: var(--font-family-montserrat-black);
    padding-bottom: 5px;
}

.footer__nav-semibold {
    font-family: var(--font-family-montserrat-semibold);
}