.header {
    line-height: 1.5;
    background-color: #5E7153;
    font-family: var(--font-family-montserrat-bold);
}

.header__container {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__details {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__link {
    font-weight: 700;
    font-size: 18px;
    color: #f4f4f4;
    text-decoration: none;
    transition: var(--link-transition);
}

.header__icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header__button {
    font-family: var(--font-family-montserrat-medium);
    padding: 10px;
    border: none;
    font-size: 18px;
    color: #151515;
    border-radius: 8px;
    background-color: #A9B489;
    align-items: center;
    text-decoration: none;
}

@media (any-hover: hover) {
    .header__link:hover {
        color: #25A46EFF;
    }
    .header__button:hover {
        background: linear-gradient(90deg, #25a46e 0%, #4fc0ac 100%);
    }
}

.header__link:active {
    color: var(--green-primary);
}