<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISTOK</title>
    <link rel="stylesheet" href="{% static 'main-page/css/main.css' %}">
</head>
<body>
    {% include "main-page/header.html" %}
    <section class="registration">
        <div class="container registration_container">
            <img src="{% static 'main-page/img/istok.svg' %}" alt="ISTOK logo">
            <div class="registration_text">
                Присоединяйся к нам -
                <br>
                для нас нет невыполнимых задач
            </div>
            <div class="registration__buttons">
            <button class="registration__button sign_up">Регистрация</button>
            <button class="registration__button sign_up">Уже есть личный кабинет?</button>
            </div>
        </div>
    </section>
    {% include "main-page/footer.html" %}
</body>
</html>