{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Текущие заказы' %}{% endblock %}

{% block content %}
    <div class="current_order">
        <div class="container current_order_container">
            {% include 'users/nav.html' %}
            <main>
                <h2>{% trans 'Текущие заказы' %}</h2>
                {% if orders %}
                    <ul>
                    {% for order in orders %}
                        <li>
                            <strong>{% trans 'Номер заказа' %}: </strong> {{ order.order_number }}<br>
                            <strong>{% trans 'Дата' %}:</strong> {{ order.date }}<br>
                            <strong>{% trans 'Адрес доставки' %}: </strong> {{ order.address }}<br>
                            <strong>{% trans 'Общая стоимость' %}: </strong> {{ order.total_price }}<br>
                            <strong>{% trans 'Текущий статус' %}: </strong> {{ order.status }}<br>
                            <a href="{% url 'order_detail' order.pk %}">{% trans 'Детали заказа' %}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans 'У вас нет текущих заказов.' %}</p>
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}
