<!doctype html>
<html lang="en" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISTOK</title>
    <link rel="stylesheet" href="./css/main.css">
</head>


<body class="current_order">
<div class="container current_order_container">
    <aside>
        <nav>
            <ul>
                <li>{% trans 'Главная' %}</li>
                <li>{% trans 'Текущий заказ' %}</li>
                <li>{% trans 'История заказов' %}</li>
                <li>{% trans 'Программа лояльности' %}</li>
                <li>{% trans 'Доп. информация' %}</li>
                <li>Профиль</li>
            </ul>
        </nav>
    </aside>
    <main>
        <section class="order-details">
            <h2>Текущий заказ</h2>
            <div class="order-images">
                <div class="image-placeholder"></div>
                <div class="image-placeholder"></div>
                <div class="image-placeholder"></div>
                <div class="image-placeholder"></div>
            </div>
            <div class="order-description">
                <p><strong>Описание заказа</strong></p>
                <p>Спальня “Норди”. Размер 1,75 * 2,20 м.<br>
                    Дополнительное оборудование: Доводчики 16 шт. Фирма Blum<br>
                    Адрес доставки: Гор. Санкт-Петербург, ул. Среднерогатская, д. 16, корп. 8, кв. 1257<br>
                    Дата заключения договора: 01.03.2024 г.<br>
                    Дата доставки:</p>
            </div>
            <button class="online-record">Онлайн - запись</button>
        </section>
        <section class="order-timeline">
            <h2>График выполнения заказа</h2>
            <div class="timeline">
                <div class="timeline-item">
                    <img src="img/preparing-a-sketch.svg" alt="Подготовка эскиза">
                    <p>Подготовка эскиза</p>
                    <p>01.03.2024</p>
                </div>
                <div class="timeline-item">
                    <img src="img/waiting.svg" alt="Ожидание тех.замера">
                    <p>Ожидание тех.замера</p>
                    <p>15.03.2024</p>
                </div>
                <div class="timeline-item">
                    <img src="img/correction.svg" alt="Корректировка">
                    <p>Корректировка</p>
                    <p>01.04.2024</p>
                </div>
                <div class="timeline-item">
                    <img src="img/processing.svg" alt="Обработка">
                    <p>Обработка</p>
                    <p>15.04.2024</p>
                </div>
                <div class="timeline-item">
                    <img src="img/production.svg" alt="Производство">
                    <p>Производство</p>
                    <p>01.05.2024</p>
                </div>
                <div class="timeline-item">
                    <img src="img/preparation-for-delivery.svg" alt="Подготовка к доставке">
                    <p>Подготовка к доставке</p>
                    <p>15.05.2024</p>
                </div>
                <div class="timeline-item">
                    <img src="img/delivery.svg" alt="Доставка">
                    <p>Доставка</p>
                    <p>--.--.----</p>
                </div>
                <div class="timeline-item">
                    <img src="img/installation.svg" alt="Установка">
                    <p>Установка</p>
                    <p>--.--.----</p>
                </div>
            </div>
            <img class="timeline_img" src="img/graph.svg" alt="График">
        </section>
    </main>
</div>
</body>