{% extends 'base.html' %}

{% block title %}Order {{ order.order_number }}{% endblock %}

{% block content %}
<h1>Order {{ order.order_number }}</h1>
<p><strong>Status:</strong> {{ order.status }}</p>
<p><strong>Date:</strong> {{ order.date }}</p>
<p><strong>Address:</strong> {{ order.address }}</p>
<p><strong>Phone Number:</strong> {{ order.phone_number }}</p>
<p><strong>Comment:</strong> {{ order.comment }}</p>
<p><strong>Delivery Cost:</strong> {{ order.delivery_cost }}</p>
<p><strong>Installation Cost:</strong> {{ order.installation_cost }}</p>
<p><strong>Used Points:</strong> {{ order.used_points }}</p>
<p><strong>Total Price:</strong> {{ order.total_price }}</p>

<h2>Products in Order:</h2>
<ul>
    {% for order_product in order.orderproduct_set.all %}
    <li>
        <h3>{{ order_product.product.name }}</h3>
        <p>{{ order_product.product.description }}</p>
        <p>Price: {{ order_product.product_price }}</p>
        <p>Quantity: {{ order_product.quantity }}</p>
        {% if order_product.product.sketchfab_embed %}
        <div class="sketchfab-embed-wrapper">
            {{ order_product.product.sketchfab_embed|safe }}
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<h2>Status History:</h2>
<ul>
    {% for history in status_history %}
    <li>
        <p><strong>Status:</strong> {{ history.status }}</p>
        <p><strong>Changed at:</strong> {{ history.changed_at }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
