{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Вход' %}{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main-page/css/main.css' %}">
{% endblock css %}

{% block content %}
<section class="login">
    <div class="container login_container">
        <img src="{% static 'main-page/img/istok.svg' %}" alt="ISTOK logo">
        <div class="login_box">
            <div class="login_header_text">
                Войти в личный кабинет
            </div>
            <div class="login_text">
                Введите номер вашего телефона и пароль для входа
            </div>
            <form method="post" action="{% url 'account_login' %}" class="login__field">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="mb-3">
                    <input type="text" name="phone" class="login__input" placeholder="+7(999)999-99-99" required>
                    {% if form.phone.errors %}
                        <div class="invalid-feedback">
                            {{ form.phone.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="login__input" placeholder="Пароль" required>
                    {% if form.password.errors %}
                        <div class="invalid-feedback">
                            {{ form.password.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="login__buttons">
                    <button type="submit" class="code__button sign_up">Войти</button>
                    <a href="{% url 'account_signup' %}" class="sign_up__button">Еще нет аккаунта? Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
